.username-form {
    text-align: left;
}

.form-inline{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
label {
    display: block;
    text-align: left;
    padding-right: 15px;
    color: #404040;
}

input {
    display: block;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    height: 25px;
    margin-right: 8px;
}

button {
    font-family: 'Poppins';
    background-color: black;
    color:white;
    border:grey 1px solid;
    border-radius: 5px;
    height:28px;

}

