.metrics-display__table-container{
    margin-top:32px;
}

table {
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
    width:80%;
}

table tr {
    border: 1px solid darkgray;
}

table tr th {
    padding: 8px;
    border: 1px solid darkgray;
    background-color: #cdcdcd;
}

table tr td {
    padding: 8px;
    border: 1px solid darkgray;
}

.metrics-display-fineprint{
    font-size: smaller;
}

em {
    color: #9c9c9c;
}